flask
flask-sqlalchemy
flask-httpauth
pymysql
flask-migrate
flask-jwt-extended
passlib
flask-migrate
flask-cors
gunicorn
psycopg2-binary
python-dotenv
flask-admin
cloudinary
numpy
flask-mail
flask-wtf


